In [29]:
import ee
import geemap
import math
import itertools
import pandas as pd
import numpy as np

import psycopg2

In [2]:
#Initialize Google Earth Engine
#ee.Authenticate() just needed the 1st time
ee.Initialize()

In [3]:
#Data loads

#loads feature collection data from Google Earth Engine - We can also upload other feature collections
counties = ee.FeatureCollection("TIGER/2018/Counties")

#filter LA County
la_county = counties.filter(ee.Filter.eq('NAME', 'Los Angeles'))

In [4]:
#loads cities data - Not in current use

la_county_income_zipcode2 = ee.FeatureCollection("projects/california-lawn-detection/assets/income_zipcode2019")
la_county_income_zipcode = la_county_income_zipcode2.select(ee.List(['zipcode', '2019zipcod','shape_area']), ee.List(['ZipCode', 'Median_Income','Area_sqft']))

In [5]:
image_collection_2020_modis = (
    ee.ImageCollection('MODIS/006/MOD11A2')
    .filterDate('2020-04-01', '2020-06-30')
    .select(['LST_Day_1km', 'LST_Night_1km'])
)

image_2020_modis_clipped = image_2020_modis.clip(la_county)

NameError: name 'image_2020_modis' is not defined

In [6]:
z90802 = la_county_income_zipcode.filter(ee.Filter.eq('ZipCode', '90802'))

In [7]:
year_list = [2010, 2012, 2014, 2016, 2018, 2020]
zipcode_list = ['90802','90732','90744']

In [8]:
def get_images(param_dict):
    source_image_collection = params['source_image_collection']
    years = param_dict['years']
    counties = param_dict['counties']

    image_names = []
    images = []

    combos = list(itertools.product(years, counties.keys()))
    for i in combos:
        year = str(i[0])
        county = i[1]

        image_name = str(i[0])+'_'+i[1]
        image_names.append(image_name)

        image = ee.ImageCollection(source_image_collection)\
                                .filterDate(f'{year}-04-01', f'{year}-06-30')\
                                .select(['LST_Day_1km', 'LST_Night_1km'])\
                                .median().clip(counties[county])
        images.append(image)
           
    return dict(zip(image_names, images))

In [9]:
params = {
        'source_image_collection' : 'MODIS/006/MOD11A2',
        'years' : [2010,2012,2014,2016,2018,2020],
        'counties': {'la_county': la_county}
         }

images = get_images(params)
images

{'2010_la_county': <ee.image.Image at 0x7f4523af85b0>,
 '2012_la_county': <ee.image.Image at 0x7f4523af8b50>,
 '2014_la_county': <ee.image.Image at 0x7f4523af9130>,
 '2016_la_county': <ee.image.Image at 0x7f4523af96a0>,
 '2018_la_county': <ee.image.Image at 0x7f4523af9dc0>,
 '2020_la_county': <ee.image.Image at 0x7f4523af03d0>}

In [57]:
def temperature_calculation(modis_image, shape, pixel_scale):
    
    reducers = ee.Reducer.mean().combine(ee.Reducer.min(),sharedInputs=True).combine(ee.Reducer.max(),sharedInputs=True)
    
    mean_temperature = modis_image.reduceRegion(
        reducer = reducers,
        geometry = shape.geometry(), 
        scale = pixel_scale, 
        maxPixels = 1e13)
    
    print("Mean Temperature:", mean_temperature.getInfo())
    
    lst_day_mean = mean_temperature.getInfo().get('LST_Day_1km_mean') * .02 - 273
    lst_day_max = mean_temperature.getInfo().get('LST_Day_1km_max') * .02 - 273
    lst_day_min = mean_temperature.getInfo().get('LST_Day_1km_min') * .02 - 273
    lst_night_mean = mean_temperature.getInfo().get('LST_Night_1km_mean') * .02 - 273
    lst_night_max = mean_temperature.getInfo().get('LST_Night_1km_max') * .02 - 273
    lst_night_min = mean_temperature.getInfo().get('LST_Night_1km_min') * .02 - 273
    
    return lst_day_mean, lst_day_max, lst_day_min, lst_night_mean, lst_night_max, lst_night_min

In [11]:
temperature_calculation(image_2020_modis_clipped, shape, pixel_scale)

NameError: name 'image_2020_modis_clipped' is not defined

In [58]:
year_list = [2010, 2012, 2014, 2016, 2018, 2020]
#zipcode_list = ['90802','90732','90744']
#zipcode_list = ['90802', '91395']
zipcode_list = ['91395']

In [19]:
connection = psycopg2.connect(
    user = "postgres",
    password = "&j>n!_nL]k&wWdE>*TVds4P6",
    host = "3.239.228.42",
    port = "5432",
    database = "postgres"
)
cursor = connection.cursor()

In [37]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select zipcode 
from zipcode_detail
where county = 'Los Angeles County'
order by zipcode;

"""

zipcodes_df = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

zipcode_list = zipcodes_df['zipcode'].values.tolist()

In [44]:
def insert_panel_microclimate(zipcode, year, months, lst_day_mean, lst_day_max, lst_day_min, 
                              lst_night_mean,lst_night_max,lst_night_min):

    connection.rollback()
    
    panel_microclimate_dict ={ 'item' : (
                                    zipcode, 
                                    year,
                                    months,
                                    lst_day_mean,
                                    lst_day_max,
                                    lst_day_min, 
                                    lst_night_mean,
                                    lst_night_max,
                                    lst_night_min
        )
    }

    
    #print(panel_microclimate_dict)
    
    columns= panel_microclimate_dict.keys()
    
    for i in panel_microclimate_dict.values():
        
        query = '''

        INSERT INTO panel_microclimate (zipcode, 
                                    year,
                                    months,
                                    lst_day_mean,
                                    lst_day_max,
                                    lst_day_min,
                                    lst_night_mean,
                                    lst_night_max,
                                    lst_night_min)
            VALUES {}; '''.format(i)

        try:
            cursor.execute(query)
        
        except (Exception, psycopg2.DatabaseError) as error:
            print(zipcode , error)
    
        finally:
        
            if connection is not None:
                connection.commit()

In [59]:
keys = {'year','polygon',
        'lst_day_mean','lst_day_max', 'lst_day_min', 
        'lst_night_mean', 'lst_night_max','lst_night_min'}

year_list = []
polygon_list = []
lst_day_mean = []
lst_day_max = []
lst_day_min = []
lst_night_mean = []
lst_night_max = []
lst_night_min = []
    
    
for i in zipcode_list:
    for j in list(images.items()):
        im = j[1]
        name = j[0]
        
        polygon_list.append(i)  
        year_list.append(j[0][:4])  
        
        #start = time()
        polygon = la_county_income_zipcode.filter(ee.Filter.eq('ZipCode', i))
        
        try:
            temperature = temperature_calculation(im, polygon, 1000)

            temperature = list(temperature)
            lst_day_mean.append(temperature[0]) 
            lst_day_max.append(temperature[1])
            lst_day_min.append(temperature[2])
            lst_night_mean.append(temperature[3])
            lst_night_max.append(temperature[4])
            lst_night_min.append(temperature[5])

            #end = time()

            #print(f'Zip Code: {i}, Year: {j[0][:4]} ::: completed in {end-start} seconds.')
            insert_panel_microclimate(i, j[0][:4], '4, 5, 6', temperature[0], temperature[1], temperature[2], 
                                  temperature[3], temperature[4], temperature[5])  
            
        except (Exception) as error:
            print(i, error)

Mean Temperature: {'LST_Day_1km_max': None, 'LST_Day_1km_mean': None, 'LST_Day_1km_min': None, 'LST_Night_1km_max': None, 'LST_Night_1km_mean': None, 'LST_Night_1km_min': None}
91395 unsupported operand type(s) for *: 'NoneType' and 'float'
Mean Temperature: {'LST_Day_1km_max': None, 'LST_Day_1km_mean': None, 'LST_Day_1km_min': None, 'LST_Night_1km_max': None, 'LST_Night_1km_mean': None, 'LST_Night_1km_min': None}
91395 unsupported operand type(s) for *: 'NoneType' and 'float'
Mean Temperature: {'LST_Day_1km_max': None, 'LST_Day_1km_mean': None, 'LST_Day_1km_min': None, 'LST_Night_1km_max': None, 'LST_Night_1km_mean': None, 'LST_Night_1km_min': None}
91395 unsupported operand type(s) for *: 'NoneType' and 'float'
Mean Temperature: {'LST_Day_1km_max': None, 'LST_Day_1km_mean': None, 'LST_Day_1km_min': None, 'LST_Night_1km_max': None, 'LST_Night_1km_mean': None, 'LST_Night_1km_min': None}
91395 unsupported operand type(s) for *: 'NoneType' and 'float'
Mean Temperature: {'LST_Day_1km_max': None, 'LST_Day_1km_mean': None, 'LST_Day_1km_min': None, 'LST_Night_1km_max': None, 'LST_Night_1km_mean': None, 'LST_Night_1km_min': None}
91395 unsupported operand type(s) for *: 'NoneType' and 'float'
Mean Temperature: {'LST_Day_1km_max': None, 'LST_Day_1km_mean': None, 'LST_Day_1km_min': None, 'LST_Night_1km_max': None, 'LST_Night_1km_mean': None, 'LST_Night_1km_min': None}
91395 unsupported operand type(s) for *: 'NoneType' and 'float'

In [53]:
Map = geemap.Map()

TypeError: 'Map' object is not callable

In [54]:
Map.addLayer(im,{}, 'im')

In [56]:
Map

Map(center=[20, 0], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(children=(Togg…

In [14]:
df_list = list(zip(polygon_list, year_list,lst_day_mean,lst_day_max,lst_day_min,lst_night_mean,lst_night_max,lst_night_min))

In [15]:
df = pd.DataFrame(df_list, columns = ['polygon','year',
        'lst_day_mean','lst_day_max', 'lst_day_min', 
        'lst_night_mean', 'lst_night_max','lst_night_min'])

In [16]:
df

,polygon,year,lst_day_mean,lst_day_max,lst_day_min,lst_night_mean,lst_night_max,lst_night_min
0,90802,2010,31.420895,34.80,22.28,15.106607,15.69,14.42
1,90802,2012,32.532479,35.74,27.22,16.591078,17.88,15.40
2,90802,2014,33.924403,37.76,26.89,17.918137,19.08,16.90
3,90802,2016,32.144044,35.30,23.31,15.546807,16.68,14.70
4,90802,2018,32.212561,35.56,25.52,15.085133,15.98,13.10
5,90802,2020,33.498712,36.60,32.20,16.983264,18.17,14.60
6,90732,2010,30.168950,35.28,24.18,13.365220,14.38,12.34
7,90732,2012,31.716974,35.70,26.61,14.965129,15.98,14.14
8,90732,2014,34.468693,38.94,28.56,15.917846,16.86,15.10
9,90732,2016,31.913846,35.12,29.07,14.036610,15.30,13.02
10,90732,2018,32.763921,36.20,29.74,13.797283,14.64,13.30
11,90732,2020,32.465339,35.96,28.54,15.913806,16.58,15.06
12,90744,2010,35.084895,37.64,29.62,14.780231,15.62,13.62
13,90744,2012,36.778335,39.50,31.36,16.679887,17.88,15.84
14,90744,2014,38.076949,41.40,32.70,17.875122,19.08,16.64
15,90744,2016,35.171130,38.62,30.12,15.779163,16.68,14.88
16,90744,2018,35.969479,38.68,30.70,15.258554,15.98,14.30
17,90744,2020,36.559734,39.16,31.36,17.272175,17.98,16.46